@model IEnumerable<SHOPTT_DA.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center;color:red">SAN PHAM THEO LOAI</h2>

<div class="row">
    @foreach (var sanPham in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class"thumbnail">
                <div>
                    <a href="@Url.Action("Details", "Sneaker", new { id = sanPham. MaSP})">
                        <img src="~/product_imgs/@sanPham.Hinh" alt="@sanPham.TenSP" />
                        <span>@sanPham.TenSP</span>
                    </a>

                    <div class="ratings">
                        <p class="pull-right"> 12 reviews </p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
